#contenido, .seccion {
  padding-top: 100px;
  padding-bottom: 100px;
}

#cabecera, #header-carro, #newsletter {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

#cabecera {
  min-height: 80vh;
  background-image: url(../images/header1.jpg);
  background-position: top center;
}

.brand {
  padding: 10px;
}

nav.navbar {
  border-top: 1px solid #adb5bd;
}

#header-carro {
  min-height: 200px;
  background-image: url(../images/header-carro.jpg);
  color: #fff;
}
#header-carro h1, #header-carro h2, #header-carro h3, #header-carro h4, #header-carro h5, #header-carro h6 {
  color: #fff;
}

#banners {
  padding-top: 15px;
  padding-bottom: 15px;
}

.banner1, .banner2 {
  border: none;
}

.banner1 {
  background-color: #daefd4;
  background: url(../images/banner1.png);
  color: #fff;
}
.banner1 h1, .banner1 h2, .banner1 h3, .banner1 h4, .banner1 h5, .banner1 h6 {
  color: #fff;
}

.banner2 {
  background-color: #ddecf2;
  color: #4999BA;
}
.banner2 h1, .banner2 h2, .banner2 h3, .banner2 h4, .banner2 h5, .banner2 h6 {
  color: #4999BA;
}

#catalogo {
  padding-top: 50px;
  padding-bottom: 50px;
}

/******* Conteido *********/
.intro-text {
  display: flex;
  align-items: center;
}

/* quienes somos */
.perfil {
  border: none;
}

.nombre {
  margin-top: 30px;
}

/*** fin contenido ***/
#footer {
  background-color: #5EB245;
  padding-top: 20px;
  color: #fff;
}
#footer a {
  color: #9bd28b;
}

.menupie {
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

footer .flex-column a {
  padding: 0;
  color: #fff;
}

footer li.nav-item a.nav-link {
  color: #cee6b3 !important;
}

#post-pie {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

#post-pie, #post-pie a {
  font-size: 0.8rem;
  color: #fff;
}

.img-pagos {
  max-height: 50px;
}

ul.usuario {
  float: right;
}

ul.usuario li {
  float: left;
  position: relative;
  max-width: 35px;
  list-style: none;
  margin: 10px;
}

.carro .badge {
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  text-align: left;
}

/********** Productos ***********/
.card-title.producto {
  color: #5EB245;
}

.precio {
  color: #adb5bd;
  font-weight: 300;
}

/* etiqueta nuevo */
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #aa4e01;
}

.ribbon span {
  z-index: 1;
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #fd7e14;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  font: 700 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon.oferta span {
  background-color: #5EB245;
}

.ribbon.agotado span {
  background-color: #adb5bd;
}

.ribbon.agotado::before,
.ribbon.agotado::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: #e83e8c;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -38px;
  top: 22px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* fin etiqueta nuevo */
.card.agotado .card-title {
  color: #adb5bd;
}
.card.agotado .btn-add {
  background-color: #adb5bd;
  border-color: #adb5bd;
}

.card.agotado img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  z-index: 0;
}

.btn-add {
  border-radius: 50%;
  font-size: 30px;
  width: 60px;
  height: 60px;
}

.paginacion {
  padding-top: 50px;
}

#newsletter {
  background-image: url(../images/news-bg.jpg);
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 80vh;
}

/***** Carro ******/
.direccion-form {
  display: block;
  border: solid 1px #ced4da;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagos-ico {
  text-align: center;
  padding: 20px;
}

/*!
 * Bootstrap Image radio v0.1.0 (https://iqbalfn.github.io/bootstrap-image-radio/)
 * Copyright 2019 Iqbal Fauzi
 * Licensed under MIT (https://github.com/iqbalfnn/bootstrap-image-radio/blob/master/LICENSE)
 */
.custom-control {
  padding: 15px;
}

.custom-control.image-radio {
  position: relative;
  padding-left: 0;
}

.custom-control.image-radio .custom-control-input:checked ~ .custom-control-label:after, .custom-control.image-radio .custom-control-input:checked ~ .custom-control-label:before {
  opacity: 1;
}

.custom-control.image-radio label {
  cursor: pointer;
}

.custom-control.image-radio label:before {
  border-color: #007bff;
  background-color: #007bff;
}

.custom-control.image-radio label:after, .custom-control.image-radio label:before {
  transition: opacity 0.3s ease;
  opacity: 0;
  left: 0.25rem;
}

.custom-control.image-radio label:focus, .custom-control.image-radio label:hover {
  opacity: 0.8;
}

.custom-control.image-radio label img {
  border-radius: 2.5px;
}

.form-group-image-radio.is-invalid label {
  color: #dc3545;
}

.form-group-image-radio.is-invalid .invalid-feedback {
  display: block;
}

/*# sourceMappingURL=bootstrap-image-radio.css.map */

/*# sourceMappingURL=theme.css.map */
