@import "functions";
@import "variables";
@import "mixins";
main {
    min-height: 100vh;
}

.navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
}

.navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
}


/****** Menus *******/


/*
.navbar-admin1 {
    color: $gray-500;
    a {
        color: $gray-500;
    }
}

.bg-admin1 {
    background-color: $gray-800;
}

.navbar-admin2 {
    color: $gray-500;
    a {
        color: $gray-500;
    }
}

.bg-admin2 {
    background-color: $gray-700;
}

.navbar-admin3 {
    color: lighten($celeste, 40);
    a {
        color: lighten($celeste, 40);
    }
}

.bg-admin3 {
    background-color: $celeste;
}

.navbar-admin4 {
    color: $celeste;
    a {
        color: $celeste;
    }
}

.bg-admin4 {
    background-color: lighten($celeste, 20);
}

.navbar-admin5 {
    color: lighten($naranja, 40);
    a {
        color: lighten($naranja, 40);
    }
}

.bg-admin5 {
    background-color: $naranja;
}

.navbar-admin6 {
    color: lighten($primary, 40);
    a {
        color: lighten($primary, 40);
    }
}

.bg-admin6 {
    background-color: $primary;
}
*/

.user {
    color: $celeste;
}

a.perfil-link {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: normal;
}

span.tipo {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
}

.tipo.admin1 {
    position: absolute;
    padding: 5px;
    margin: 0;
    top: 25px;
    right: 0;
}


/**** Fin menus ****/

#contenido,
.seccion {
    padding-top: 50px;
}

#cabecera,
#header-carro,
#header-hacemos,
#newsletter,
#servicio {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#cabecera {
    min-height: 40vh;
    background-image: url(../images/header1.jpg);
    background-position: top center;
}

.brand {
    padding: 10px;
    ;
}

nav.navbar.menu-principal {
    border-top: 1px solid $gray-500;
}

#header-carro {
    background-image: url(../images/header-carro.jpg);
}

#header-hacemos {
    background-image: url(../images/header-hacemos.jpg);
    background-position: top center;
}

#header-carro,
#header-hacemos {
    min-height: 200px;
    color: #fff;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

#banners {
    padding-top: 15px;
    padding-bottom: 15px;
}

.banner1,
.banner2 {
    border: none;
}

.banner1 {
    background-color: lighten($primary, 40);
    background: url(../images/banner1.png);
    color: #fff;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

.banner2 {
    background-color: lighten($celeste, 40);
    color: $celeste;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $celeste;
    }
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.primary {
    color: $primary;
}

.page-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitulo {
    color: $naranja;
}


/******* Conteido *********/

.intro-text {
    display: flex;
    align-items: center;
}


/* quienes somos */

.perfil {
    border: none;
}

.nombre {
    margin-top: 30px;
}


/*** fin contenido ***/

.transparencia {
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

#footer {
    background-color: $primary;
    padding-top: 20px;
    color: #fff;
    a {
        color: lighten($primary, 20);
    }
}

.menupie {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

footer .flex-column a {
    padding: 0;
    color: #fff;
}

footer li.nav-item a.nav-link {
    color: lighten($verde1, 30)!important;
}

#post-pie {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

#post-pie,
#post-pie a {
    font-size: 0.8rem;
    color: #fff;
}

.img-pagos {
    max-height: 50px;
}

ul.usuario {}

ul.usuario li {}

a.carro {
    height: 30px;
    display: block;
    position: relative;
}

.carro .badge {
    position: absolute;
    bottom: 0;
    left: 0;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    text-align: left;
    ;
}

.transparencia-d {
    background-color: rgba(0, 0, 0, .7);
    padding: 30px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #fff;
    }
}

.transparencia-l {
    background-color: rgba(255, 255, 255, .9);
    padding: 23px;
}


/********** Productos ***********/

.filtros {
    padding-bottom: 20px;
}

.card-title.producto {
    color: $primary;
}

.precio {
    color: $gray-600;
    font-weight: 300;
}

.peso {
    font-size: 0.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0;
    padding: 0;
}


/* etiqueta nuevo */

.unitario {
    font-style: italic;
    color: $gray-500;
}

.ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid darken($orange, 20);
}

.ribbon span {
    z-index: 1;
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: $orange;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    color: #fff;
    font: 700 14px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon.oferta span {
    background-color: $primary;
}

.ribbon.agotado span {
    background-color: $gray-500;
}

.ribbon.agotado::before,
.ribbon.agotado::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: $pink;
}


/* top left*/

.ribbon-top-left {
    top: -10px;
    left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -38px;
    top: 22px;
    transform: rotate(-45deg);
}


/* top right*/

.ribbon-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}


/* fin etiqueta nuevo */

.card.agotado {
    .card-title {
        color: $gray-500;
    }
    .btn-add {
        background-color: $gray-500;
        border-color: $gray-500;
    }
}

.card.agotado img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: 0;
}

.btn-add {
    border-radius: 50%;
    font-size: 30px;
    width: 60px;
    height: 60px;
}

.paginacion {
    padding-top: 50px;
}

#newsletter {
    background-image: url(../images/news-bg.jpg);
}

#servicio {
    background-image: url(../images/gestion-bg.jpg);
}

#newsletter,
#servicio {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 80vh;
}


/***** Carro ******/

.direccion-form {
    display: block;
    border: solid 1px $gray-400;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cabecera-resumen {
    background-image: url(../images/heacer-resumen.jpg);
    background-position: center center;
    background-attachment: fixed;
}

ul.resumen-pedido {
    margin: 20px 0;
    padding: 0;
}

ul.resumen-pedido i {
    color: $primary;
    margin-right: 5px;
}

ul.resumen-pedido li,
ul.lista-limpia li {
    color: $gray-600;
    list-style: none;
    list-style-position: outside;
    line-height: 1.8rem;
    border-bottom: 1px solid $gray-300;
    padding: 10px;
}

ul.lista-limpia li:last-of-type {
    border: none;
}

ul.resumen-pedido li:last-of-type {
    border-bottom: solid 3px;
}

.pagos-ico {
    text-align: center;
    padding: 20px;
    ;
}

@import "theme/_image-checkbox";
@import "theme/flickity";